@use '/src/styles/_variables.scss' as *;

.content{
    padding: 2rem;
    width: calc(100% - 240px);
    height: 100svh;
    .responsive-container{
        background-color: $widgets-color;
        border-radius: 12px;
    }
}